body {
    background-color: #f08060;
}
.App {
    text-align: center;
}
.card {
    display: inline-block;
    margin: 20px;
    background-color: white;
    text-align: center;
    padding: 20px;
    width: 100px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.money {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
img {
    width: 100px;
}
